{% extends './dependancy.html' %}
{% block title %}Register | TechInterio{% endblock title %}

{% block d-body %}

<section class="py-5">
    <div class="container">
        <div class="row d-flex justify-content-center ">
            {% if not request.user.is_authenticated %}
            {% comment %} <div class="col-12 col-sm-6 mb-3">
                <p><b>Note-</b> If you are a New Employee then Register Here with username and password. After completion of your Registration admin will Add you as Employee.</p>
            </div> {% endcomment %}
            <div class="w-100"></div>
            <div class="col-12 col-sm-6">
                <h3 class="derpartment-title ">Register</h3>
                <form class="border border-primary border-2 p-4 rounded my-4 bg-white " action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required placeholder="Choose Username">
                    </div>
                    <div class="mb-3">
                        <label for="fname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fname" name="fname" required placeholder="Enter Your First Name">
                    </div>
                    <div class="mb-3">
                        <label for="lname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="Enter Your Email">
                    </div>
                    <div class="mb-3">
                        <label for="pass" class="form-label">Password</label>
                        <input type="password" class="form-control" id="pass" name="password" required placeholder="Passowrd">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-danger">Register</button>
                    </div>
                    <div class=" my-2 ">
                        <span>
                            Already Register
                            <a href="{% url 'home:login' %}" class="">Login</a>
                        </span>
                    </div>
                </form>
            </div> 
            {% endif %}
        </div>
    </div>
</section>
{% endblock d-body %}