{% extends './dependancy.html' %}

{% block d-body %}
<section class="py-4">

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-6">
                <h3 class="derpartment-title ">Login</h3>
                <form class="border border-primary border-2 p-4 rounded my-4" action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="username" class="form-label">Username</label>
                      <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                      <label for="pass" class="form-label">Password</label>
                      <input type="password" class="form-control" id="pass" name="password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-danger">Login</button>
                    </div>
                    <div class=" my-2 ">
                        <span>
                            New Employee Register
                            <a href="{% url 'home:register' %}" class="">Register</a>
                        </span>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section>
{% endblock d-body %}