{% extends './base.html' %}
{% block title %} PayRoll | EMS{% endblock title %}
{% block body %}

<section class="py-5">
<div class="container">
    <div class="row d-flex align-items-center justify-content-center ">
        <div class="col-9">
            <h3 class=" my-3 derpartment-title">PayRoll</h3>
            <form>
                <div class="mb-3">
                    <label for="employee">Employee</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Please Select</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="mb-3">
                  <label for="total-salary" class="form-label">Total Salary</label>
                  <input type="text" class="form-control" id="total-salary">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
</section>

{% endblock body %}