{% extends './base.html' %}
{% block title%}
Reimbursement |  Food
{% endblock title%}
{% block css%}

{% endblock css%}
{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row d-flex align-itmes-center justify-content-center">
            <div class="col-10">
                <h3 class="derpartment-title my-3 ">All Food Reimbursements</h3>
                <a href="{% url 'ems:admin-transport-reimbursement' %}">See All Transport Reimbursements</a>
                <table class="table table-bordered border-danger">
                    <tr>
                        <th>SN.</th>
                        <th>Employee</th>
                        <th>Date</th>
                        <th>No. of Employee</th>
                        <th>Bill No.</th>
                        <th>Amount</th>
                        <th>Remark</th>
                        <th>Status</th>
                    </tr>
                    {% for item in reimbursement_foods %}
                    <tr>
                      <td>{{forloop.counter}}.</td>
                      <td>{{item.employee | title}}</td>
                      <td>{{item.date | date:'d-M-Y'}}</td>
                      <td>{{item.number_of_employee | title}} <a href="{% url 'ems:reimbursement-see-employee' item.id %}" class="float-end">See Employee</a></td>
                      <td>{{item.bill_number}}</td>
                      <td>{{item.amount}}</td>
                      <td>{{item.remark}}</td>
                      {% if item.status == 'pending' %}

                      <td class="bg-warning"><a href="" class="text-dark" data-bs-target="#reimbursementmodal"
                              onclick="reimbursement({{item.id}},'{{item.status}}','{{item.remark}}')"
                              data-bs-toggle="modal">{{item.status | title}}</a></td>
                      {% elif item.status == 'accepted' %}
                      <td class="bg-success"><a href="" class="text-light" data-bs-toggle="modal"
                              data-bs-target="#reimbursementmodal" onclick="reimbursement({{item.id}},'{{item.status}}','{{item.remark}}')">{{item.status | title}}</a></td>
                      {% elif item.status == 'rejected' %}
                      <td class="bg-danger"><a class="text-light" data-bs-target="#reimbursementmodal"
                              onclick="reimbursement({{item.id}},'{{item.status}}','{{item.remark}}')" href="" data-bs-toggle="modal">{{item.status |title}}</a></td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </table>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if reimbursement_foods.has_previous %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{reimbursement_foods.previous_page_number}}">Previous</a>
                        </li>
                        {% endif %}
                        {% if pages %}
    
                        {% for p in pages %}
    
                        {% if p == reimbursement_foods.number %}
                        <li class="page-item active" aria-current="page"><a class="page-link "
                                href="?page={{p}}">{{p}}</a></li>
                        {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                        {% endif %}
    
                        {% endfor %}
    
                        {% endif %}
    
                        {% if reimbursement_foods.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{reimbursement_foods.next_page_number}}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="reimbursementmodal" tabindex="-1" aria-labelledby="reimbursementModalLabel"
    aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reimbursementModalLabel">Reimbursement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" id="reimbursement-id" hidden>
                    <div class="mb-3">
                        <label for="reimbursement-type" class="form-label">Status</label>
                        <select class="form-select" aria-label="Default select example" name="status"
                            id="reimbursement-type">
                            <option value="accepted" id="accepted">Accept</option>
                            <option value="pending" id="pending">Pending</option>
                            <option value="rejected" id="rejected">Reject</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Remark</label>
                        <textarea class="form-control" id="remark" rows="3" placeholder="Write Remark....."
                            name="remark"></textarea>
                    </div>
                    <div class="d-grid">

                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    function reimbursement(id, status, remark) {
        document.getElementById('reimbursement-id').value = id
        var remarkElement = document.getElementById('remark')
        var pedning = document.getElementById('pending')
        var accepted = document.getElementById('accepted')
        var rejected = document.getElementById('rejected')
        if (remark != 'None') {
            remarkElement.value = remark
        }
        console.log(status)
        if (pedning.value == status) {
            pedning.setAttribute('selected', 'selected')
        } else if (accepted.value == status) {
            accepted.setAttribute('selected', 'selected')
        } else if (rejected.value == status)
        {
            rejected.setAttribute('selected', 'selected')

        }
    }
</script>
{% endblock body %}