{% extends './base.html' %}
{% block title %} {{request.user | title}} | Attendance {% endblock title %}
{% block css %}
.delete span {
font-size: 16px !important;
}
{% endblock css%}
{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-10">
                <h3 class="derpartment-title my-3">All Attendance</h3>
                <table class="table table-bordered border-dark border-1 ">
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>In-Time</th>
                        <th>Out-Time</th>
                        <th>Attendance Status</th>
                        <th class="">Date</th>

                    </tr>
                    {% for item in attendances %}
                    <tr>
                        <td>{{forloop.counter}}.</td>
                        <td>{{item.employee.name}}</td>
                       

                        {% if item.is_late == True %}
                        
                        <td class="bg-danger text-light ">{{item.intime | time}}</td>
                        {% elif item.nocolor == True %}
                        <td class="text-dark ">{{item.intime | time}}</td>
                        {% elif item.intime %}
                        <td class="bg-success text-light ">{{item.intime | time}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                         
                        {% if item.lightPurple == True %}
                        <td class="light-purple ">{{item.outtime | time}}</td>
                        {% elif item.OnionPurple %}
                        <td class="onion-purple">{{item.outtime | time}}</td>
                        {% else %}
                        <td>{{item.outtime | time}} </td>
                        {% endif %}
                        {% if item.present %}
                        <td class="text-success fw-semibold ">Present</td>
                        {% else %}
                        <td class="text-danger fw-semibold ">Absent</td>
                        {% endif %}
                        <td>{{item.date | date:"d-m-Y"}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if attendances.has_previous %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{attendances.previous_page_number}}">Previous</a>
                        </li>
                        {% endif %}
                        {% if pages %}

                        {% for p in pages %}

                        {% if p == attendances.number %}
                        <li class="page-item active" aria-current="page"><a class="page-link "
                                href="?page={{p}}">{{p}}</a></li>
                        {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                        {% endif %}

                        {% endfor %}

                        {% endif %}

                        {% if attendances.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{attendances.next_page_number}}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}