{% extends './base.html' %}
{% block title %} {{request.user | title}} | Leaves {% endblock title %}
{% block css %}
.delete span {
    font-size: 16px !important;
  }
{% endblock css%}
{% block body %}

<section>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-12 my-5">
                <h3 class="my-3 derpartment-title">All Leaves</h3>
                <a href="{% url 'ems:leave-create' %}" class="mb-2">Request Leave</a>
                <table class="table table-bordered">
                    <tr>
                        <th>SN</th>
                        <th>From date</th>
                        <th>From to</th>
                        <th>Descripiton</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Reply</th>
                        <!-- <th>Delete</th> -->
                    </tr>
                    {% if not leaves %}
                    <tr><td colspan="8" class="text-center text-danger">You Have no Leaves</td></tr>
                    {% endif %}
                    {% for leave in leaves %}
                    <tr class="my-4">
                        <td>{{forloop.counter}}.</td>
                        <td>{{leave.date_from | date:'d/M/Y'}}</td>
                        <td>{{leave.date_to | date:'d/M/Y'}}</td>
                        <td><a data-bs-toggle="collapse" href="#description{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="description{{forloop.counter}}">{{leave.description|truncatewords:5}}</a></td>
                        <div class="collapse my-3" id="description{{forloop.counter}}">
                            <div class="card card-body ">
                                {{leave.description}}
                            </div>
                          </div>
                        <td>{{leave.type}}</td> 
                        {% if leave.status == 'Pending' %}
                        <td class="bg-warning text-dark">{{leave.status}}</td>
                        {% elif leave.status == 'Rejected' %}
                        
                        <td class="bg-danger text-white">{{leave.status}}</td>
                        {% else %}
                        <td class="text-white bg-success">{{leave.status}}</td>
                        {% endif %}

                        {% if leave.reply == None %}
                        <td></td>
                        {% else %}
                        <td>{{leave.reply}}</td>
                        {% endif %}
                     
                        {% comment %} {% if leave.status == 'Approved' %}
                        <td>
                            <span class="delete disabled text-muted cursor-pointer"><span class="material-symbols-outlined">
                                delete
                            </span></span>
                        </td>
                        {% else %}
                        <td><a href="{% url 'ems:leave-delete' leave.id %}" class="delete"><span class="material-symbols-outlined">
                            delete
                        </span></a></td>
                        {% endif %}  {% endcomment %}
                    </tr>
                    {% endfor %}
                </table>
                {% if leaves.number >= 1  %}
                <nav aria-label="Page navigation description">
                    <ul class="pagination justify-content-end">
                        {% if leaves.has_previous %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{leaves.previous_page_number}}">Previous</a>
                        </li>
                        {% endif %}
                        {% if pages %}

                        {% for p in pages %}

                        {% if p == leaves.number %}
                        <li class="page-item active" aria-current="page"><a class="page-link "
                                href="?page={{p}}">{{p}}</a></li>
                        {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                        {% endif %}

                        {% endfor %}

                        {% endif %}

                        {% if leaves.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{leaves.next_page_number}}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</section>




{% endblock body %}