{% extends './base.html' %}
{% block title%}
Attendance
{% endblock title%}
{% block css%}

.editinput-width{
width:8rem !important;
}
{% endblock css%}
{% block body %}

<section class="py-4">

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-8 col-md-10 my-3 col-12 overflow-auto">
                <h3 class="derpartment-title my-3">All Attendance</h3>
                <div class="d-flex my-2 mb-5 align-items-center justify-content-between">
                    <button type="button" class="btn btn-success float-end me-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Add All Attendance
                    </button>
                    
                    <form action="{% url 'ems:add-attendance-filter' %}" method="post">
                        {% csrf_token %}
                        
                        
                        <div class="d-flex ">
                            <div>
                        <select class="form-select" aria-label="Default select example" name="department" id="department" required>
                            <option value="" disabled selected>Select Department</option>
                            {% for item in departments  %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                          <div class="ms-2">
                              <button class="btn btn-success" type="submit">Add Department Attendance</button>
                            </div>
                        </div>
                    </form>
                    <form action="{% url 'ems:add-attendance-filter' %}" method="post">
                        {% csrf_token %}
                        
                        
                        <div class="d-flex ms-2">
                            <div>
                        <select class="form-select" aria-label="Default select example" name="employee" id="employee" required>
                            <option value="" disabled selected>Select Employee</option>
                            {% for item in employees  %}
                            <option value="{{item.empid}}">{{item.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                          <div class="ms-2">
                              <button class="btn btn-success" type="submit">Add Employee Attendance</button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="d-flex align-items-center justify-content-between">
                    <div class="w-25 my-3 mb-4">
                        <form action="{% url 'ems:attendance-date-filter' %}" method="post">
                            {% csrf_token %}
                            <label for="date" class="form-label">Filter Date</label><small><button type="submit"
                                    class="btn btn-primary float-end mb-1 btn-sm">Submit</button></small>
                                    <input type="date" class="form-control  form-control-sm" id="filter-date" name="filter-date" required>
                            
                        </form>
                    </div>
                    <div class="w-25 my-3 mb-4">
                        <form action="{% url 'ems:attendance-department-filter' %}" method="post">
                            {% csrf_token %}
                            <label for="filter-department" class="form-label">Filter Department</label><small><button type="submit"
                                    class="btn btn-primary float-end mb-1 btn-sm">Submit</button></small>
                            
                            <select class="form-select" aria-label="Default select example" name="filter-department" id="filter-department" required>
                                <option value="" disabled selected>Select Department</option>
                                {% for item in departments  %}
                                <option value="{{item.id}}">{{item.name}}</option>
                                {% endfor %}
                              </select>
                        </form>
                    </div>
                    <div class="w-25 my-3 mb-4">
                        <form action="{% url 'ems:attendance-employee-filter' %}" method="POST">
                            {% csrf_token %}
                            <label for="date" class="form-label">Filter Employee</label><small><button type="submit"
                                    class="btn btn-primary float-end mb-1 btn-sm">Submit</button></small>
                                    <select class="form-select" aria-label="Default select example" name="empid" id="filter-employee" required>
                                        <option value="" disabled selected>Select Employee</option>
                                        {% for item in filter_employees  %}
                                        <option value="{{item.empid}}">{{item.name}}</option>
                                        {% endfor %}
                                      </select>
                        </form>
                    </div>
                </div>
                
                <table class=" attendance-table my-2">
                    <tr>
                        <th class="sn">SN</th>
                        <th class="name">Name</th>
                        <th class="in-time">In-Time</th>
                        <th class="out-time">Out-Time</th>
                        <th class="status">Status</th>
                        <th class="date">Date</th>
                        <th class="edit">Edit</th>
                        <th class="delete">Delete</th>
                    </tr>
                </table>
                
                {% for nest in nested_attendence %}
                <div class="d-flex align-items-center my-2 mb-3 justify-content-between">
                    {% if nest.count == 1 %}
                    <span class="bg-secondary p-1 px-2 rounded text-light">Date: {{nest.0.date| date:"d-m-Y"}}</span>
                    {% else %}
                    <span class="bg-secondary p-1 px-2 rounded text-light">Date: {{nest.0.date| date:"d-m-Y"}}</span>
                    {% endif %}

                </div>
                <table class="attendance-table">

                    {% for item in nest %}
                    <tr>
                        <td class="sn" >{{forloop.counter}}.</td>
                        <td class="name">{{item.employee.name}}</td>
                        {% if item.is_late == True %}
                        
                        <td  class="bg-danger text-light in-time">{{item.intime | time}}</td>
                        {% elif item.nocolor == True %}
                        <td class=" text-dark in-time">{{item.intime | time}} </td>
                        {% elif item.intime %}
                        <td class="bg-success text-white in-time">{{item.intime | time}} </td>
                        {% else %}
                        <td class="in-time"></td>
                        {% endif %}
                         
                        {% if item.lightPurple == True %}
                        <td class="light-purple out-time">{{item.outtime | time}}</td>
                        {% elif item.OnionPurple %}
                        <td class="onion-purple out-time">{{item.outtime | time}} </td>
                        {% else %}
                        <td class="out-time">{{item.outtime | time}} </td>
                        {% endif %}

                        {% if item.present %}
                        <td class="text-success fw-semibold status">Present</td>
                        {% else %}
                        <td class="text-danger fw-semibold status">Absent</td>
                        {% endif %}
                        <td class="date">{{item.date | date:"d-m-Y"}}</td>
                        <td class="text-primary  edit">
                            <i class='bx bx-edit'
                                onclick="editAttendance('{{item.employee.name}}','{{item.intime | time:'G'}}','{{item.outtime| time:'G'}}','{{item.present}}','{{item.date| date:'Y-m-d'}}','{{item.id}}')"
                                data-bs-toggle="modal" data-bs-target="#editmodal"></i>
                        </td>
                        <td class=" delete"><a href="{% url 'ems:attendance-delete' item.id %}"
                                class="attedance-delete"><span class="material-symbols-outlined">
                                    delete
                                </span></a></td>
                    </tr>

                    {% endfor %}
                </table>

                {% endfor %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if nested_attendence.has_previous %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{nested_attendence.previous_page_number}}">Previous</a>
                        </li>
                        {% endif %}
                        {% if pages %}

                        {% for p in pages %}

                        {% if p == nested_attendence.number %}
                        <li class="page-item active" aria-current="page"><a class="page-link "
                                href="?page={{p}}">{{p}}</a></li>
                        {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                        {% endif %}

                        {% endfor %}

                        {% endif %}

                        {% if nested_attendence.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{nested_attendence.next_page_number}}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>

        </div>
    </div>

</section>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fw-semibodl" id="exampleModalLabel">Add Attendance</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" id="date" class="form-control" name="date" required>
                    </div>
                    <table class="table table-borderless">
                        <tr>
                            <th>SN.</th>
                            <th>Name</th>
                            <th>In-Time</th>
                            <th>Out-Time</th>
                            <th>Present</th>
                        </tr>

                        {% for item in employees %}
                        <tr>
                            <input type="text" hidden name="empid{{forloop.counter}}" value="{{item.empid}}">
                            <td>{{forloop.counter}}</td>
                            <td>{{item.name}}</td>
                            <td><input type="time" name="intime{{forloop.counter}}" class="form-control"></td>
                            <td><input type="time" name="outtime{{forloop.counter}}" class="form-control"></td>
                            <td>
                                <select class="form-select" aria-label="Default select example"
                                    name="attendance-status{{forloop.counter}}">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </td>
                        </tr>
                        {% endfor %}
                        <input type="text" value="{{employees |length}}" name="number_of_length" hidden>
                    </table>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Attendance Edit Modal -->
<div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="editmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editmodalLabel">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'ems:edit-attendance' %}" method="post">
                    {% csrf_token %}
                    <input type="text" hidden name="attendance-id" id="edit-id">
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="text" id="edit-date" class="form-control" name="date" required>
                    </div>
                    <table class="table table-borderless">
                        <tr>
                            <th>Name</th>
                            <th>In-Time</th>
                            <th>Out-Time</th>
                            <th>Present</th>
                            <th>Late</th>
                        </tr>
                        <tr>
                            <td id="emName"></td>
                            <td><input type="time" name="intime" class="form-control editinput-width" id="emintime">
                            </td>
                            <td><input type="time" name="outtime" class="form-control editinput-width" id="emouttime">
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example"
                                    name="attendance-status">
                                    <option value="True" id="status-true">Yes</option>
                                    <option value="False" id="status-false">No</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" aria-label="Default select example"
                                    name="is-late">
                                    <option value="False" id="status-false">No</option>
                                    <option value="True" id="status-true">Yes</option>
                                </select>
                            </td>
                        </tr>

                    </table>
                    <div class="d-grid my-2">
                        <input type="submit" value="Save" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    x="{{employees}}"
    console.log('hello x',x)


    function editAttendance(name, intime, outtime, status, date, id) {
        console.log(status)
        console.log(date)
        console.log(id)
        document.getElementById('emName').innerHTML = name
        
        document.getElementById('edit-date').value = date
        document.getElementById('edit-id').value = id
        if (status == 'True') {
            console.log(status)
            document.getElementById('status-true').setAttribute('selected', 'selected')
        } else {
            console.log(status)
            document.getElementById('status-false').setAttribute('selected', 'selected')

        }

    }
</script>

{% endblock body %}