{% extends './base.html' %}
{% block title%}
Attendance
{% endblock title%}
{% block css%}
.modal-content{
width:700px !important;
position: absolute;
left: -90px;
transition: ease;
overflow: auto;
}
.editinput-width{
    width:8rem !important;
}
{% endblock css%}
{% block body %}

<section class="py-4">

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-8 col-md-10 my-3 col-12 overflow-auto">
                <h3 class="derpartment-title my-3">All Attendance</h3>
                <div class="d-grid my-2 mb-3">
                    <button type="button"
                        class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add New Attendance
                    </button>
                </div>
                <table class="table border border-1 border-dark my-5">
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>In-Time</th>
                        <th>Out-Time</th>
                        <th>Attendance Status</th>
                        <th class="me-4">Date</th>
                        <th class="me-4">Edit</th>
                        <th class="me-4">Delete</th>
                    </tr>
                </table>

                {% for nest in nested_attendence %}
                <div class="d-flex align-items-center my-2 mb-3 justify-content-between">
                    {% if nest.count == 1 %}
                    <span class="bg-secondary p-1 px-2 rounded text-light">Date: {{nest.0.date| date:"d-m-Y"}}</span>
                    {% else %}
                    <span class="bg-secondary p-1 px-2 rounded text-light">Date: {{nest.0.date| date:"d-m-Y"}}</span>
                    {% endif %}

                </div>
                <table class="table border attendance-table">
                    
                    {% for item in nest %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.employee.name}}</td>
                        <td>{{item.intime | time}}</td>
                        <td>{{item.outtime | time}}</td>
                        {% if item.present %}
                        <td class="text-success fw-semibold ">Present</td>
                        {% else %}
                        <td class="text-danger fw-semibold ">Absent</td>
                        {% endif %}
                        <td>{{item.date | date:"d-m-Y"}}</td>
                        <td class="text-primary ">
                            <i class='bx bx-edit'
                                onclick="editAttendance('{{item.employee.name}}','{{item.intime | time:'G'}}','{{item.outtime| time:'G'}}','{{item.present}}','{{item.date| date:'Y-m-d'}}','{{item.id}}')"
                                data-bs-toggle="modal" data-bs-target="#editmodal"></i>
                        </td>
                        <td class="pe-3"><a href="{% url 'ems:attendance-delete' item.id %}" class="attedance-delete"><span class="material-symbols-outlined">
                            delete
                            </span></a></td>
                    </tr>

                    {% endfor %}
                </table>

                {% endfor %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if nested_attendence.has_previous %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{nested_attendence.previous_page_number}}">Previous</a>
                        </li>
                        {% endif %}
                        {% if pages %}

                        {% for p in pages %}

                        {% if p == nested_attendence.number %}
                        <li class="page-item active" aria-current="page"><a class="page-link "
                                href="?page={{p}}">{{p}}</a></li>
                        {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                        {% endif %}

                        {% endfor %}

                        {% endif %}

                        {% if nested_attendence.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{nested_attendence.next_page_number}}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>

        </div>
    </div>

</section>



<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title fw-semibodl" id="exampleModalLabel">Add Attendance</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" id="date" class="form-control" name="date" required>
                    </div>
                    <table class="table table-borderless">
                        <tr>
                            <th>SN.</th>
                            <th>Name</th>
                            <th>In-Time</th>
                            <th>Out-Time</th>
                            <th>Present</th>
                        </tr>

                        {% for item in employees %}
                        <tr>
                            <input type="text" hidden name="empid{{forloop.counter}}" value="{{item.empid}}">
                            <td>{{forloop.counter}}</td>
                            <td>{{item.name}}</td>
                            <td><input type="time" name="intime{{forloop.counter}}" class="form-control"></td>
                            <td><input type="time" name="outtime{{forloop.counter}}" class="form-control"></td>
                            <td>
                                <select class="form-select" aria-label="Default select example"
                                    name="attendance-status{{forloop.counter}}">
                                    <option value="True" >Yes</option>
                                    <option value="False" >No</option>
                                </select>
                            </td>
                        </tr>
                        {% endfor %}

                    </table>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Attendance Edit Modal -->
<div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="editmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editmodalLabel">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'ems:edit-attendance' %}" method="post">
                    {% csrf_token %}
                <input type="text" hidden name="attendance-id" id="edit-id">
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="text" id="edit-date" class="form-control" name="date" required>
                </div>
                <table class="table table-borderless">
                    <tr>
                        <th>Name</th>
                        <th>In-Time</th>
                        <th>Out-Time</th>
                        <th>Present</th>
                    </tr>
                    <tr>
                        <td id="emName"></td>
                        <td><input type="time" name="intime" class="form-control editinput-width" id="emintime"></td>
                        <td><input type="time" name="outtime" class="form-control editinput-width" id="emouttime"></td>
                        <td>
                            <select class="form-select" aria-label="Default select example"
                                name="attendance-status">
                                <option value="True" id="status-true">Yes</option>
                                <option value="False" id="status-false">No</option>
                            </select>
                        </td>
                    </tr>

                </table>
                <div class="d-grid my-2">
                    <input type="submit" value="Save" class="btn btn-success">
                </div>
            </form>
            </div>
        </div>
    </div>
</div>


<script>
    function editAttendance(name, intime, outtime, status, date,id) {
        console.log(status)
        console.log(date)
        console.log(id)
        document.getElementById('emName').innerHTML = name
        //document.getElementById('emintime').value = intime
        //document.getElementById('emouttime').value = outtime
        document.getElementById('edit-date').value=date
        document.getElementById('edit-id').value=id
        if (status == 'True'){
            console.log(status)
            document.getElementById('status-true').setAttribute('selected','selected')
        }else{
            console.log(status)
            document.getElementById('status-false').setAttribute('selected','selected')

        }

    }
</script>

{% endblock body %}