<!DOCTYPE html>
{% load static %}
<html lang="en"> 

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head %}
    <!-- ==========BOOSTRAP CDN CSS LINK=========== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- =========GOOGLE ICONS CDN LINK============= -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <!-- =============BOX ICONS CDN LINK============ -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- ==========CUSTOM STYLE SHEET============ -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- ===============JQUERY CDN============ -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <style>
        {
            % block css %
        }

            {
            % endblock css %
        }

        .c-btn {
            background-color: transparent;
            border: none;
            color: white;
        }
    </style>

</head>

<body>


    <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg nav-bg navbar-dark shadow-sm fixed-top">
            <div class="container d-flex align-items-center justify-content-start">
                
                <a class="navbar-brand" href="{% url 'home:home' %}">TechInterio</a>
                <a class="cursor-pointer float-end active " data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
                    aria-controls="staticBackdrop"><span class="navbar-toggler-icon"></span></a>

                {% comment %} <li class="nav-item"><a class="nav-link active" href="{% url 'ems:ems' %}">Dashboard</a>
                </li> {% endcomment %}


            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-start nav-bg text-white" tabindex="2" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            {% if request.user.is_superuser %}
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Admin</h5>
            {% else %}
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{profile.name}}</h5>
            {% endif %}
            <button type="button" class="c-btn" data-bs-dismiss="offcanvas" aria-label="Close"><span
                    class="material-symbols-outlined">
                    close
                </span></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">


                {% if request.user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'ems:ems' %}">Dashboard</a></li>
                {% else %}
                <div class="d-flex align-items-center justify-content-center">
                    <img src="{{profile.imageURL}}" alt="" class="profile-side">
                </div>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'ems:ems' %}">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ems:profile' %}">Profile</a></li>
                {% endif %}

                {% if request.user.is_superuser %}
                <li class="nav-item accordion-button collapsed sub-arrow-forward" data-bs-toggle="collapse"
                    data-bs-target="#department-nav" aria-expanded="false" aria-controls="department-nav"
                    onclick="rotate()"><a class="nav-link w-100" href="#">Department</a>
                    <span class="material-symbols-outlined arrow-forward ">
                        arrow_forward_ios</span>
                </li>
                <div id="department-nav" class="accordion-collapse collapse">
                    <li class="nav-item sub-nav"><a class="nav-link" href="{% url 'ems:create-department' %}">Create
                            Department</a></li>
                    <li class="nav-item sub-nav"><a class="nav-link" href="{% url 'ems:view-department' %}">View
                            Departments</a></li>

                </div>

                <li class="nav-item accordion-button collapsed sub-arrow-forward" data-bs-toggle="collapse"
                    data-bs-target="#role-nav" aria-expanded="false" aria-controls="role-nav" onclick="rotate()">
                    <a class="nav-link w-100 arrow" href="#">Role</a><span
                        class="material-symbols-outlined arrow-forward ">arrow_forward_ios</span>
                </li>

                <div class="accordion-collapse collapse" id="role-nav">
                    <li class="nav-item sub-nav"><a class="nav-link" href="{% url 'ems:create-role' %}">Create Role</a>
                    </li>
                    <li class="nav-item sub-nav"><a class="nav-link" href="{% url 'ems:view-role' %}">View Roles</a>
                    </li>
                </div>

                <li class="nav-item accordion-button collapsed sub-arrow-forward" data-bs-toggle="collapse"
                    data-bs-target="#employee-nav" aria-expanded="false" aria-controls="employee-nav"
                    onclick="rotate()">
                    <a class="nav-link w-100 arrow" href="#">Employee</a><span
                        class="material-symbols-outlined arrow-forward ">arrow_forward_ios</span>
                </li>

                <div id="employee-nav" class="accordion-collapse collapse">
                    <li class="nav-item sub-nav"><a class="nav-link" href="{% url 'ems:employee-view' %}">View
                            EM</a></li>
                </div>

                <li class="nav-item accordion-button collapsed sub-arrow-forward" data-bs-toggle="collapse"
                    data-bs-target="#event-nav" aria-expanded="false" aria-controls="event-nav" onclick="rotate()">
                    <a class="nav-link w-100 arrow" href="#">Event</a><span
                        class="material-symbols-outlined arrow-forward ">arrow_forward_ios</span>
                </li>
                <div id="event-nav" class="accordion-collapse collapse">
                    <li class="nav-item sub-nav"><a href="{% url 'ems:create-event' %}" class="nav-link">Create
                            Event</a></li>
                    <li class="nav-item sub-nav"><a href="{% url 'ems:view-events' %}" class="nav-link">View Events</a>
                    </li>
                </div>

                <li class="nav-item"><a class="nav-link" href="{% url 'ems:attendance' %}">Clockify</a></li>

                <li class="nav-item accordion-button collapsed sub-arrow-forward" data-bs-toggle="collapse"
                    data-bs-target="#payroll-nav" aria-expanded="false" aria-controls="payroll-nav" onclick="rotate()">
                    <a class="nav-link w-100 arrow" href="#">PayRoll</a><span
                        class="material-symbols-outlined arrow-forward ">arrow_forward_ios</span>
                </li>
                <div id="payroll-nav" class="accordion-collapse collapse">
                    <li class="nav-item sub-nav"><a href="{% url 'ems:create-payroll' %}" class="nav-link">Add
                            PayRoll</a></li>
                    <li class="nav-item sub-nav"><a href="{% url 'ems:view-payrolls' %}" class="nav-link">View PayRolls</a>
                    </li>
                </div>
                <li class="nav-item"><a class="nav-link" href="{% url 'ems:all-queries' %}">Queries</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ems:connect' %}">Connect</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ems:allocated-leaves' %}">Allocated Leave</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Hirings</a></li>
                <li class="nav-item"><a class="nav-link" href="#">IT</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Reimbursement</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Awards</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Reviews</a></li>
                {% else %}

                <li class="nav-item accordion-button collapsed sub-arrow-forward" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                    onclick="rotate()"><a class="nav-link w-100" href="#">Leave</a><span
                        class="material-symbols-outlined arrow-forward " id="arrow">
                        arrow_forward_ios</span></li>
                <div id="flush-collapseOne" class="accordion-collapse collapse">
                    <li class="nav-item sub-nav "><a class="nav-link " href="{% url 'ems:leave-create' %}">Request
                            Leave</a></li>
                    <li class="nav-item sub-nav"><a class="nav-link" href="{% url 'ems:all-leaves' %}">All Leaves</a>
                    </li>
                </div>
                <li class="nav-item"><a class="nav-link" href="{% url 'ems:all-attendance' %}">Clockify</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ems:payroll' %}">PayRoll</a></li>
                {% if profile.role.name == 'Manager' %}
                <li class="nav-item"><a class="nav-link" href="{% url 'ems:all-queries' %}">Queries</a></li>
                {% else %}
                <li class="nav-item accordion-button collapsed sub-arrow-forward" data-bs-toggle="collapse"
                    data-bs-target="#query-nav" aria-expanded="false" aria-controls="query-nav"
                    onclick="rotate()"><a class="nav-link w-100" href="#">Query</a><span
                        class="material-symbols-outlined arrow-forward " id="arrow">
                        arrow_forward_ios</span></li>
                <div id="query-nav" class="accordion-collapse collapse">
                    <li class="sub-nav nav-item"><a class="nav-link" href="{% url 'ems:create-query' %}">Create Query</a></li>
                    <li class="nav-item sub-nav"><a class="nav-link" href="{% url 'ems:queries' %}">All Query</a></li>
                </div>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="#">Reimbursement</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Awards</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Reviews</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'home:logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>


    <main class="my-5 pt-3">

        {% for message in messages %}
        <div id="notification" class="alert alert-{{ message.tags }} alert-dismissible fade show w-50 m-auto mb-2 mt-1 " role="alert" >
            <strong>Message: </strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </button>
        </div>
        {% endfor %}


        {% block body %}{% endblock body %}

    </main>
    <!-- =============BOOSTRAP CDN JS LINK============== -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <!-- ============CUSTOM JS========= -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>