{% extends './base.html' %}
{% block title %}Create Department | EMS {% endblock title %}
{% block body %}
<div class="container py-4">
    <div class="row d-flex align-items-center justify-content-center ">
        <div class="col-12 col-sm-8">
            <h3 class=" my-3 derpartment-title">Create New Department</h3>
            <form action="" method="post">
                {% csrf_token %}
            <div class="mb-3">
                <label for="department-name" class="form-label">Name</label>
                <input type="text" class="form-control" id="department-name" placeholder="Enter Name....."
                    name="department-name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Descripiton</label>
                <textarea class="form-control" id="description" rows="3" placeholder="Write Discription....."
                    name="department-description"></textarea>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock body %}