{% extends './base.html' %}
{% block title %} All Queries | EMS{% endblock title %}
{% block body %}

<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="col-9">
                <h3 class=" my-3 derpartment-title">Create Query</h3>
                <table class="table my-3">
                    <tr>
                        <th>SN</th>
                        <th>Query Id</th>
                        <th>Subject</th>
                        <th>Created Date</th>
                        <th>Status</th>
                    </tr>
                    {% for query in queries %}
                <tr>
                    <td>{{forloop.counter}}.</td>
                    <td>{{query.query_id}}</td>
                    <td><a href="{% url 'ems:query-detail' query.query_id %}">{{query.subject}}</a></td>
                    <td>{{query.created_at | date:'d-M-Y'}}</td>
                    <td>{{query.status}}</td>
                </tr>    
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock body %}