{% extends './base.html' %}
{% block title %} EMS | Home {% endblock title %}
{% block body %}
<section>
    <div class="container">
        <div class="row py-5">
            <div class="col-8 d-flex justify-content-evenly">
                <div class="">
                </div>
                <div class="" class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="#" class="mx-2 btn btn-warning">All Leaves</a>
                    <a href="#" class="mx-2 btn btn-dark">All Attendance</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}