{% extends './base.html' %}
{% block title %} EMS | Home {% endblock title %}
{% block body %}
<section>
    <div class="container">
        <div class="row d-flex justify-content-center ">
            <div class="col-6">
                <div class="row px-2 py-5 d-flex justify-content-center flex-column align-items-center ">

                    <div class="col-12 d-flex justify-content-start bg-success py-2 text-white  rounded">
                        <a href="{% url 'ems:all-leaves' %}" class="text-white border-end  px-2">All Leaves</a>
                        <a href="{% url 'ems:profile' %}" class="text-white border-end px-2">Profile</a>
                        <a href="{% url 'ems:all-attendance' %}" class="text-white border-end px-2">Attendance</a>
                    </div>
                    <div class="col-12 py-4">
                        <div class="">
                            <h5 class="fw-semibold home-title">EMS Home Feed</h5>
                            <p class="home-description text-muted">Here you will see Other colleagues' birthday and Anniversary
                                And also Events Notifications. And some other stuff.</p>
                        </div>

                    </div>
                    <div class="col-12">
                        {% for birthday in birthdays %}
                        <div class="card mb-3 ">
                            <div class="card-header">
                                <i class="fa fa-area-chart"></i><small class="text-muted"> Brithday Notification</small>
                            </div>
                            <div class="card-body " style="background-color:#f8696980;">
                                <h3 class="text-center my-5 birthday-wish">Happy Birthday {{birthday.name}} 🎂🎉</h3>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-12">
                        {% for anniversary in anniversaries %}
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fa fa-area-chart"></i><small class="text-muted"> Anniversary
                                    Notification</small>
                            </div>
                            <div class="card-body" style="background-color:#f8696980;">
                                <h3 class="text-center my-5 birthday-wish">Congratulations {{anniversary.employee.name}}
                                    👏 <br> You Have successfully completed {{anniversary.completed_years}} {% if anniversary.completed_years > 1 %}Years {% else %} Year {% endif %}</h3>

                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    {% for event in events %}
                    <div class="col-12 my-2">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fa fa-area-chart"></i>{{event.title}}
                            </div>
                            <div class="card-body">
                                <div class="mb-2 text-muted">
                                    <small>
                                        <span class="text-muted">Event Date : </span>{{event.date | date:'d-M-Y'}}
                                    </small>
                                </div>
                                <hr>
                                <p>{{event.description}}</p>
                            </div>
                            <div class="card-footer small text-muted">Posted: {{event.created_at|timesince}} Ago</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}