{% extends './base.html' %}
{% load static %}
{% block title %}New Users | EMS{% endblock title %}
{% block css %}

{% endblock css %}
{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8">
                <h3 class="my-3 derpartment-title">New Users</h3>
                <a href="{% url 'ems:ems' %}" class="mb-2">Dashboard</a>
                <table class="table table-bordered newuser-table">
                  <tr>
                    <th>SN</th>
                    <th>username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                  {% for newuser in newusers %}
                  <tr>
                    <td>{{forloop.counter}}.</td>
                    <td>{{newuser.user.username}}</td>
                    <td>{{newuser.user.get_full_name}}</td>
                    <td>{{newuser.user.email}}</td>
                    <td><a href="{% url 'ems:send-verification-mail' newuser.user.username %}" class="btn btn-primary btn-sm">Send Link</a></td>
                    <!-- <td>
                      {% if newuser.is_completed %}
                      <span class="material-symbols-outlined text-success fw-blod">
                        done
                      </span>
                      {% else %}
                      <span class="material-symbols-outlined text-danger"> close </span>
          
                      {% endif %}
                    </td> -->

                  </tr>
                  {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock body %}