{% extends './base.html' %}

{% block title %} Employe Permission | EMS {% endblock title %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-8 ">
                <h3 class="derpartment-title my-3">Permission</h3>
                
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Employee</label>
                        <select class="form-select" aria-label="Default select example" required name="empid" id="employee" >
                            <option selected disabled>Select Employee</option>
                            {% for item in employees %}

                            <option value="{{item.empid}}" >{{item.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a href="#" class="btn btn-primary" id="btn" onclick="changeUrl()">Next</a>           
            </div>
        </div>
    </div>
</section>
<script>
    function changeUrl()
    {
        var btn=document.getElementById('btn')
        let x= document.getElementById('employee').value
        if (x!='Select Employee')
        {
            var url="/ems/permission-get/"+x
            btn.href=url

        }
        console.log(x)
       
        console.log("Chnage Url test")
    }
</script>
{% endblock body %}