{% extends './base.html' %}
{% block title %}{{request.user.username}} | EMS{% endblock title %}
{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-7 ">
                <table class="table table-bordered">
                    <tr class="text-center w-100">
                        <td class="w-50"><a href="{% url 'ems:profile-edit' %}">Edit Profile</a></td>
                        <td class="w-50"><a href="" data-bs-toggle="modal" data-bs-target="#changePassword" >Change Password</a></td>
                    </tr>
                </table>
                <div class="personal-info">
                    <table class="table table-borderless">
                        
                        <tr>
                            <td colspan="2">
                                <div class="avtar d-flex align-items-center flex-column">
                                    <img src="{{profile.imageURL}}" alt="" class="rounded border ">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6 class="m-2 profile-title"><b>Username - </b>{{profile.user.username}}</h6>
                                        
                                        
                                    </div>
                                    <span>Employee Id - {{profile.employeeid}}</span>
                                </div>
                            </td>
                           
                        </tr>
                        <tr>
                            <td colspan="2">
                              <h6 class="text-center profile-title">Personal Info</h6>
                            </td>
                            
                        </tr>
                        <tr>
                        
                            <td><b>Name - </b>{{profile.name}}</td>
                            <td><b>Father Name - </b>{{profile.father_name}}</td>
                        </tr>
                        <tr>
                            <td><b>Date of Birth - </b>{{profile.dob |date:'d M Y'}}</td>
                            <td><b>Phone No. - </b>{{profile.mobile_no}}</td>
                        </tr>
                        <tr>
                            <td><b>Emergency Phone No. - </b>{{profile.emergency_mobile_no}}</td>
                            <td><b>Email- </b>{{profile.email}}</td>
                        </tr>
                        <tr>
                            <td><b>Address - </b>{{address.address}}</td>
                            <td><b>Street No. - </b>{{address.street}}</td>
                        </tr>
                        <tr>
                            <td><b>Locality - </b>{{address.locality}}</td>
                            <td><b>City - </b>{{address.city}}</td>
                        </tr>
                        <tr>
                            <td><b>State - </b>{{address.state}}</td>
                            <td><b>Pin Code - </b>{{address.pincode|floatformat:'0'}}</td>
                        </tr>
                        <tr>
                            <td><b>Country - </b>{{address.country}}</td>
                            <td><b>Designation - </b>{{profile.designation}}</td>
                        </tr>
                        <tr>
                            <td><b>Department - </b>{{profile.department}}</td>
                            <td><b>Role - </b>{{profile.role}}</td>
                        </tr>
                        <tr>
                            <td><b>Joining Date - </b>{{profile.joining_date}}</td>
                            <td><b>Status - </b>{{profile.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-4 ">
                <div class="row gy-4">
                    {% if birthday or anniversary %}
                    <div class="col-11 border rounded-5 border-danger  py-3 px-2 d-flex justify-content-center flex-column align-items-center bg-danger">
                        <h3 class="events-title text-center mb-3 text-uppercase">Celebrations</h3>
                        <ul class="style-none" style="list-style:none ;">
                            {% if birthday %}
                            <li class=" text-success text-center my-2 fw-semibold text-white fst-italic">Happy Birthday {{name}} 🎂🎉</li>
                            {% endif %}
                            {% if anniversary %}
                            <li class="text-success text-center my-2 fw-semibold text-white fst-italic">Congratulations {{anniversary.name}} You Have Completed {{anniversary.completed_years}} {% if anniversary.completed_years > 1 %}Years {% else %} Year {% endif %} 👏</li>
                            {% endif %}
                        </ul>
                    </div> 
                    {% endif %}
                    <div class="col-11 border rounded-5 border-danger  py-4 px-2 d-flex justify-content-center flex-column align-items-center bg-danger">
                        <h6 class="events-title text-center mb-2 fw-semibold text-uppercase">Upcoming Events</h6>
                        <ul class="my-4">
                            {% for event in events  %}
                            <li><a href="{% url 'ems:event' event.id %}" class="fw-semibold text-light fst-italic">{{event.title}}</a></li>
                            {% endfor %}
                            
                        </ul>
                        <!-- <ul class="style-none" style="list-style:none ;">
                            <li class="text-center  fw-semibold">Birthday</li>
                            {% if birthday %}
                            <li class=" text-white text-center my-2 fw-semibold">Happy Birthday {{name}} 🎂🎉</li>
                            {% endif %}
                            <li class="text-center text-warning fw-semibold">Anniversary</li>
                            {% if anniversary %}
                            <li class="text-white text-center my-2 fw-semibold">Congratulations {{anniversary.name}} You Have Completed {{anniversary.completed_years}} {% if anniversary.completed_years > 1 %}Years {% else %} Year {% endif %} 👏</li>
                            {% endif %}
                        </ul> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


  
  <!-- Change Password Modal -->
  <div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswordLabel">Change Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'ems:change-password' %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="new-password" class="form-label">New Password</label>
                  <input type="password" class="form-control" id="new-password" name="new-password" required>
                </div>
                <div class="mb-3">
                  <label for="cnew-password" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="cnew-password" name="confirm-password" required>
                </div>
                <div class="d-grid">

                    <button type="submit" class="btn btn-primary">Save</button>
                </div>        
              </form>
        </div>
        
      </div>
    </div>
  </div>
  
{% endblock body %}