{% extends './base.html' %}
{% block title %} All Queries | EMS{% endblock title %}
{% block body %}

<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="col-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i><span>Query Id: {{query.query_id}}</span> 
                        
                            {% if query.status == 'pending' %}
                            <span class="float-end text-warning">{{query.status | title}}</span>
                            {% else %}
                            <span class="float-end text-success">{{query.status | title}}</span>
                            {% endif %}                       
                    </div>
                    <div class="card-body p-2">
                        <h6 class="my-2"><b>{{query.subject}}</b></h6>
                        <p>{{query.description}}</p>
                    </div>
                    <div class="card-footer small text-muted"><b>Created at:</b>  {{query.created_at|timesince}} Ago</div>
                </div>
            </div>
            <div class="col-8">
                <form action="{% url 'ems:add-comment' %}" method="post">
                    {% csrf_token %}
                <div class="form-floating my-2">
                    <input type="text" name="query-id" value="{{query.query_id}}" hidden>
                    <textarea name="comment" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea >
                    <label for="floatingTextarea">Leave Comment</label>
                    <button class="btn btn-primary float-end my-2" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-8 my-2">
                <h5 class="fw-semibold mb-5">Comments <span class="ms-1"> {{comments.count}}</span></h5>
                {% for comment in comments %}
                <div class="border rounded p-4 my-3">
                    {% if request.user == comment.user %}
                    <b class="fw-semibold">Comment by :</b> <small class="fw-semibold">You</small>
                    {% else %}
                    <b class="fw-semibold">Comment by :</b> <small class="fw-semibold"> {{comment.user | title}}</small>
                    {% endif %}
                    <p class="p-2">{{comment.comment}}</p>
                    <small class="text-muted float-end fw-semibold">Replied : {{comment.created_at|timesince}} Ago</small>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock body %}