{% extends './base.html' %}
{% block title %}View Employee | EMS{% endblock title %}
{% block body %}
<div class="container py-4">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-10 overflow-auto">
            <h3 class="my-3 derpartment-title">All employees</h3>
            <table class="table table-bordered department-table">
                <tr>
                    <th>SN</th>
                    <th>Profile</th>
                    <th>Name</th>
                    <th>Father Name</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Delete</th>
                </tr>
                {% for employee in employees %}
                <tr>
                    <td>{{forloop.counter}}.</td>
                    <td>
                        <img src="{{employee.imageURL}}" alt="" class="profile-pic">
                    </td>
                    <td><a class="" href="{% url 'ems:employee-detail' employee.empid %}">{{employee.name}}</a></td>
                    <td>{{employee.father_name}}</td>
                    <td>{{employee.department}}</td>
                    <td>{{employee.role}}</td>
                    <td><a href="{% url 'ems:employee-delete' employee.empid %}" class="delete"><span class="material-symbols-outlined">
                        delete</span></a></td>
                </tr>
                {% endfor %}
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if employees.has_previous %}
                    <li class="page-item ">
                        <a class="page-link" href="?page={{employees.previous_page_number}}">Previous</a>
                    </li>
                    {% endif %}
                    {% if pages %}

                    {% for p in pages %}

                    {% if p == employees.number %}
                    <li class="page-item active" aria-current="page"><a class="page-link "
                            href="?page={{p}}">{{p}}</a></li>
                    {% else %}
                    <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                    {% endif %}

                    {% endfor %}

                    {% endif %}

                    {% if employees.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{employees.next_page_number}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    const aalert=(message,type)=>{
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
          `<div class="alert alert-${type} alert-dismissible" role="alert">`,
          `   <div>${message}</div>`,
          '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
          '</div>'
        ].join('')
      
        alertPlaceholder.append(wrapper)
    }
    function deleteEm(){
        confirm("You can't get it back")
        console.log('hello')
        
    }


</script>
  
{% endblock body %}