/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*=============== VARIABLES CSS ===============*/
:root{


    /*========== Font and typography ==========*/
  --body-font: 'Red Hat Display', sans-serif;
  --second-font: 'Kaushan Script', cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 6rem;
      --bigger-font-size: 3.5rem;
      --big-font-size: 2.75rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
      --bs-modal-width:700px;
    }
  }

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  body,
  button,
  label,
  select,
  input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  input:focus{
    box-shadow: none !important;
    border: 1px solid black !important;
  }
  select:focus{
    box-shadow: none !important;
    border: 1px solid black !important;
  }
  textarea:focus{
    box-shadow: none !important;
    border: 1px solid black !important;

  }
  h1, h2, h3 {
    font-weight: var(--font-bold);
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/* ======UTILITY======= */
.cursor-pointer{
    cursor: pointer;
}

/* ========Navbar======= */
.dropdown-item:hover{
    background-color:#212529 !important;
}


/* ============SIDE NAVBAR========= */
.offcanvas.offcanvas-start{
    top: 56px !important;
    width: 15rem !important;
}
.btn-close{
    color: white !important;
}

.side-drop-down{
    border: none !important;
    border-width: none !important;
}


/* =========DEPARTMENT SECTION========= */
.derpartment-title{
  font-size: var(--h3-font-size);
  background-color: #dadada70;
  padding: 1rem;
  border-radius: 3px;
}
.department-table tr th{
  font-size: var(--normal-font);
  font-weight: var(--font-black);
}

.department-table tr td{
  font-size: var(--small-font-size);
  font-weight:600;
}

.department-table tr td .edit i{
  font-size: 16px !important;
  text-align: center;
}

.department-table tr td .delete span
{
  font-size: 16px !important;
}

/* edit Department */
#department-label{
  font-size: var(--h3-font-size) !important;
  font-weight: var(--font-bold);
}

/* =======EMPLOYEE SECTION======== */
.employee-title{
  font-size: var(--h3-font-size);
  background-color: #dadada70;
  padding: 1rem;
  border-radius: 3px;
}

.add-employee div{
  margin-bottom: 0.6rem !important;
}
.profile-image{
  display: flex;
  justify-content:center;
}
.profile-image img{
  height: 120px;
  margin-top: 1rem;
  width: 120px;
  object-fit: cover;
  object-position: center;

}
.avtar img{

  height: 120px;
  margin-top: 1rem;
  width: 120px;
  object-fit: cover;
  object-position: center;
}
.profile-side{
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.profile-title{
  font-weight: var(--font-bold);
  font-size: var(--normal-font);

}
.events-title{
  font-size:var(--h3-font-size) ;
}
/* ========Attendance====== */
.attendance-table{
  
}
.attedance-delete span {
  font-size: 16px !important;
}

